/* For small devices (up to 767px) */
@media only screen and (max-width: 767px) {
    /* Add your responsive styles here */
}

/* For medium devices (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Add your responsive styles here */
}

/* For large devices (992px and above) */
@media only screen and (min-width: 992px) {
    /* Add your responsive styles here */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* variables  */
:root{
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    /* background: var(--main-color); */
}
header.shadow{
    background: var(--text-color);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
}
header.shadow .navbar a{
    color: var(--bg-color);
}
header.shadow .logo{
    color: var(--bg-color);
}


.logo{
    font-size: 1.1rem;
    font-weight: 600;
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
}
.bx{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
    
}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
    background: #fa1216;
}

/* Home  */
section{
    padding: 4.5rem 0 1.5rem;
}
.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7,0.5);
}
.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--main-color) !important;
}
.home-text{
    z-index: 1000;
    padding: 0 150px;
}
.home-text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
}
.play .bx{
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7,0.5);
    color: var(--main-color);
}
.play .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
/* movies  */
.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 270px;
    cursor: pointer;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
.box h3{
    font-size: 0.9rem;
    font-weight: 500;
}
.box span{
    font-size: 14px;
}

/* coming container  */
.coming-container{
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .box img:hover{
    transform: translateY(0);
}
.coming-container .box img{
    border-radius: 15px;
}

/* newsletter  */
.newsletter{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.newsletter h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.newsletter form{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.newsletter form input{
    border: none;
    outline: none;
}
.email{
    width: 280px;
}
.newsletter form input::placeholder{
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
}
.newsletter .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}



/* responsive  */
@media (max-width: 1080px){
    .home-text{
        padding: 0 100px;
    }
}
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
}
@media (max-width: 774px){
    header{
        padding: 20px 4%;
    }
    #menu-icon{
        display: initial;
        color: var(--bg-color);
    }
    header.shadow #menu-icon{
        color: var(--bg-color);
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--text-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
        transition: 0.2s all linear;
        text-align: center;
        width: 100%;
    }
    .navbar a{
        color: var(--bg-color);
    }
    .navbar a:hover{
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    }
}
@media (max-width: 472px){
    .newsletter form .email{
        width: auto;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .container{
        width: 100%;
        min-height: 500px;
    }
    header{
        padding: 6px 4%;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .play{
        right: 2rem;
        bottom: 8%;
    }
    .play .bx{
        padding: 7px;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
}

/* Footer */
.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-distributed .column {
    max-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-distributed h3 {
    margin: 0;
}

.footer-distributed p {
    font-size: 14px;
    text-align: center;
    margin: 8px 0;
    color: white; /* Asegura que el texto sea blanco en pantallas más pequeñas */
}

.footer-distributed .social a {
    display: inline-block;
    margin: 0 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        flex-direction: column;
    }
    
    .footer-distributed .column p {
        color: red;
    }
}


/* Reproductor de música */

body {
    margin: 0;
    padding: 0;
}

.music-player {
    display: flex;
    flex-direction: column; /* Cambiado a columna para mejor adaptabilidad */
    align-items: center;
    background-color: #1a1a1a; /* Color de fondo oscuro */
    color: #fff; /* Color del texto blanco */
}

.player-container {
    width: 80%; /* Reducido para mayor estética */
    max-width: 800px; /* Máximo ancho para evitar estiramiento en pantallas grandes */
    margin: 0 auto;
}

.video-wrapper {
    width: 100%; /* Aprovechar todo el ancho disponible */
    max-width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 para videos responsivos */
}

#music-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none; /* Eliminar borde del iframe */
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26); /* Fondo del contenedor negro */
    color: white; /* Color del texto blanco */
}

.controls button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: rgb(211, 13, 13); /* Fondo rojo para los botones */
    color: black; /* Color del texto negro */
    border: none; /* Eliminar el borde si lo deseas */
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: darkred; /* Cambiar el tono de rojo al pasar el ratón */
    color: white;
}

.playlist {
    width: 100%;
    max-width: 800px;
    margin: 20px auto; /* Espaciado del borde superior y borde inferior */
    background: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #333; /* Borde más visible */
}

.playlist-container {
    display: flex; /* Cambiado a flex para mostrar los elementos en línea */
    overflow-x: auto; /* Cambiado a auto para mostrar la barra de desplazamiento solo cuando sea necesario */
    overflow-y: hidden; /* Ocultar la barra de desplazamiento vertical */
    max-height: 300px; /* Ajustado para mostrar más elementos sin desbordar */
}

.playlist h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.playlist-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Mostrar elementos de la lista en línea */
}

.playlist-container ul li {
    cursor: pointer;
    margin: 0 5px;
}

.playlist-container ul li:hover {
    background: #333;
}

#playlist-list li img {
    width: 150px; /* Puedes ajustar el tamaño aquí según tus preferencias */
    height: 75px;
    border: 2px solid #ff0707; /* Contorno rojo */
    margin: 10px;
}

/* Agregar scrollbar personalizado */
.playlist-container::-webkit-scrollbar {
    width: 10px;
}

.playlist-container::-webkit-scrollbar-thumb {
    background-color: #d50d0d;
    border-radius: 5px;
}

.playlist-container::-webkit-scrollbar-track {
    background-color: #333;
}



/* Estilo base para el enlace */
.logo {
    text-decoration: none;
    color: white; /* Color de texto blanco */
    font-size: 18px; /* Tamaño de fuente inicial */
    animation: logoAnimation 2s infinite alternate; /* Animación automática */
}

/* Animación para el cambio automático de color y tamaño de fuente */
@keyframes logoAnimation {
    0% {
        color: white;
        font-size: 18px;
    }
    50% {
        color: red; /* Color de texto cambia a rojo a la mitad de la animación */
        font-size: 20px; /* Tamaño de fuente aumenta a la mitad de la animación */
    }
    100% {
        color: white;
        font-size: 18px;
    }
}

/* Agrega una consulta de medios para ajustar el diseño en pantallas más pequeñas */
        @media (max-width: 768px) {
            .coming-container {
                flex-direction: column;
                align-items: center;
            }

            .box-container {
                width: 100%;
                border: 0; /* Elimina el borde entre los elementos */
            }
        }

        .box {
            border: 0px solid #ddd; /* Agregué esto para asegurarme de que la propiedad border de .box esté presente */
        }







