<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="script.js" defer></script>
    <link rel="icon" href="../img/logo.png" type="image/png" sizes="64x64 128x128">
    <title>Pack De Pago</title>
</head>
<body>

    <header>
        <a href="../index.html" class="logo">
            <i href="#home" class=''></i>INICIO 
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <!-- menu  -->
        <ul class="navbar">
            <a href="https://web.facebook.com/DaniloPL11"><i class='bx bxl-facebook' style='font-size: 30px;'></i></a>
            <a href="https://www.tiktok.com/@danilopaguay"><i class='bx bxl-tiktok' style='font-size: 30px;'></i></a>
            <a href="https://www.instagram.com/danilo.paguay/"><i class='bx bxl-instagram' style='font-size: 30px;'></i></a>
        </ul>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="https://www.youtube.com/@danilopaguay1382"><i class='bx bxl-youtube' style='font-size: 50px;'></i></a>
    </header>

    <br><br><br><br>

    <div class="container">
        
        <div class="header">
            <h1>ESCUCHA EL CONTENIDO DEL PACK</h1>
        </div>
        <div class="televisor">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/HMlghvOWtYA" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <h1>CONTENIDO DE PAGO</h1>
        <div class="content">
            <a href="https://wa.me/573157373184" class="descargar-btn" style="font-size: 1.5rem; font-weight: bold; padding: 0.3rem 1rem; width: 150px; height: 60px; display: flex; justify-content: center; align-items: center;">Contactar</a>
        </div>
    </div>

    <br><br>

<!-- Footer -->
<footer class="footer-distributed">

    <!-- Columna 1 -->
    <div class="footer-left" style="text-align: center;">
        <h3><span>DaniloPaguay</span></h3>
        <p class="footer-company-name">Copyright © 2023 <strong>DaniloPaguay</strong> <br>Todos los derechos reservados</p>
    </div>

    <!-- Columna 2 -->
    <div class="footer-center" style="text-align: center;">
        <div style="margin-bottom: 10px;">
            <i class="fa fa-map-marker" style="color: red;"></i>
            <p style="font-size: 1.8rem; color: red; font-family: 'Arial', sans-serif; margin: 5px 0;"><span>Ubicación</span></p>
            <p style="font-size: 1.2rem; color: white; font-family: 'Arial', sans-serif; margin: 0;"><span>Cuaspúd - Nariño</span></p>
        </div>
        <div style="margin-bottom: 10px;">
            <i class="fa fa-phone" style="color: red;"></i>
            <p style="font-size: 1.1rem; color: white; font-family: 'Arial', sans-serif; margin: 0;"><i class="fa fa-phone" style="color: red; margin-right: 5px;"></i>+57 3157373184</p>
        </div>
        <div>
            <i class="fa fa-envelope" style="color: red;"></i>
            <p style="font-size: 1.3rem; color: red; font-family: 'Arial', sans-serif; margin: 0;"><a href="mailto:stdanilo06@gmail.com" style="color: red; text-decoration: none;">stdanilo06@gmail.com</a></p>
        </div>
    </div>
    
    <!-- Columna 3 -->
    <div class="footer-right" style="text-align: center;">
        <p class="footer-company-about">
            <h3><span>Acerca de la página</span></h3>
            <strong>Gran variedad de música remix para DJ's.</strong>
        </p>
        <br>
        <div class="social">
            <a href="https://web.facebook.com/DaniloPL11"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.tiktok.com/@danilopaguay"><i class='bx bxl-tiktok'></i></a>
            <a href="https://www.instagram.com/danilo.paguay/"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.youtube.com/@danilopaguay1382"><i class='bx bxl-youtube'></i></a>
        </div>
    </div>

</footer>




<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="main.js"></script>
</body>
</html>